<div class="card">
    <div class="card-image-container">
        <img src="{{photoURL}}" alt="{{description}}">
    </div>
    <div class="card-info-container">
        <span class="card-name">Name: {{description}}</span>
        <span class="card-sexuality">Gender: {{gender}}</span>
        <span class="card-email">Email: <br>{{email}}</span>
        <span class="card-phone-number">TEL: <br>{{tel}}</span>
        <a href="#" class="card-blog">Hao's blog</a>
    </div>
</div>